.root{
-fx-background-color:#282A35;
}

.button:hover{
-fx-background-color:#51696E;
-fx-color:white;
}
#nameslist:filled{
-fx-background-color: #282A35;
}
#typeslist:filled{
-fx-background-color: #282A35;
}
#codearea{
-fx-background-color: #282A35;
}

